* {
  margin: 0;
}
.inter {
  font-family: "Inter", sans-serif;
}
.nav {
  font-size: 12px;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(245, 245, 247, 0.8);
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
.header-text {
  color: #1d1d1f;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
.gradient-container {
  background-image: url(./gradient.png);
  background-position: center;
  background-size: cover;
  height: 75px;
}
.store-gift-text {
  display: flex;
  gap: 32px;
}
.store-text {
  font-size: 44px;
  width: 129px;
  height: 52px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gift-text {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
  width: 494px;
  height: 52px;
}
.header {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-sec2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
}
.help-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
}
.visit-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  padding-left: 45px;
}
.ask {
  display: flex;
  width: 125px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  color: #06c;
  font-size: 14px;
  text-decoration-line: underline;
}
.find {
  color: #06c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.forward {
  width: 6px;
  height: 14px;
}
.products {
  display: flex;
  flex-direction: row;
}
