* {
  margin: 0;
}
.inter {
  font-family: "Inter", sans-serif;
}
.nav {
  font-size: 12px;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(245, 245, 247, 0.8);
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
.header-text {
  color: #1d1d1f;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
.gradient-container {
  background-image: url(./gradient.png);
  background-position: center;
  background-size: cover;
  height: 75px;
}
.store-gift-text {
  display: flex;
  gap: 32px;
}
.store-text {
  font-size: 44px;
  width: 129px;
  height: 52px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gift-text {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
  width: 494px;
  height: 52px;
}
.header {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-sec2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
}
.help-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
}
.visit-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  padding-left: 45px;
}
.ask {
  display: flex;
  width: 125px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  color: #06c;
  font-size: 14px;
  text-decoration-line: underline;
}
.find {
  color: #06c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.forward {
  width: 6px;
  height: 14px;
}
.products {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 700;
  color: #1D1D1F;
  text-align: center;
  gap: 12px;
  overflow: scroll;
}
.all-text{
  margin-top: 16px;
}
.header2 {
  display: flex;
  gap: 4px;
  margin-top: 60px;
}
.latest-text{
  width: 130px;
  height: 34px;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.let-text{
  color: #6E6E73;
  font-size: 24px;
  font-weight: 700;
}
.container1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: scroll;

}
.cont1-1{
  background-image: url(./cont1-ip16.png);
  width: 480px;
  height: 500px;
  border-radius: 8%;
  margin-top: 24px; 
  overflow: scroll;
}
.ai{
  color: #B64400;
font-size: 12px;
font-weight: 700;
display: flex;
width: 132px;
height: 14px;
margin-top: 30px;
}
.ip16{
  color: #1D1D1F;
font-size: 26px;
font-weight: 700;
margin-top: 9px;
}
.ip16-text{
  color: #1D1D1F;
font-size: 18px;
font-weight: 400;
margin-top: 12x;
}
.cont1-2{
  background-image: url(./cont1-watch.png);
  width: 480px;
  height: 500px;
  border-radius: 8%;
  margin-top: 24px;
}
.series10{
  color: #1D1D1F;
font-size: 26px;
font-weight: 700;
margin-top: 54px;
margin-left: 30px;
} 
.series10-text{
  margin-top: 12px;
  color: #1D1D1F;
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-left: 30px;
}
.cont1-3{
  background-image: url(./cont1-pad.png);
  width: 480px;
  height: 500px;
  border-radius: 8%;
  margin-top: 24px;
}
.cont1-4{
  background-image: url(./cont1-mac.jpg);
  width: 480px;
  height: 500px;
  border-radius: 8%;
  margin-top: 24px;
}
