* {
  margin: 0;
}
.flex-center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.inter {
  font-family: "Inter", sans-serif;
}
.nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background: rgba(245, 245, 247, 0.8);
}
.nav2 {
  display: none;
}
.applelogo {
  margin-left: 16px;
}
.ssm {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.header-text {
  color: #1d1d1f;
  text-align: center;
  font-size: 14px;
  padding: 18px 31px;
}
.bg1 {
  margin-top: 12px;
  background-image: url(./bg1.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.ip16pro {
  font-size: 30px;
  color: #f5f5f7;
  font-weight: 700;
}
.text {
  color: #f5f5f7;
  font-size: 18px;
  margin-top: 4px;
}
.button {
  margin-top: 16px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.button1 {
  width: 110px;
  height: 36px;
  border-radius: 999px;
  background: #0071e3;
}
.button2 {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}
.b1-text {
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
}
.b2-text {
  color: #2997ff;
  font-size: 14px;
  padding: 8px 20px;
}
.others {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 350px;
}
.bg2 {
  margin-top: 12px;
  background-image: url(./bg2.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.others2 {
  margin-top: 30px;
}
.button2-1 {
  width: 110px;
  height: 36px;
  border-radius: 999px;
  background: #fff;
}
.b1-text1 {
  color: #000;
  font-size: 14px;
  padding: 8px 16px;
}
.button2-2 {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid #fff;
}
.b2-text2 {
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
}

.bg3 {
  margin-top: 12px;
  background-image: url(./bg3.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.ipad-air {
  width: 180px;
  height: 41.86px;
  margin-top: 36px;
  margin-bottom: 12px;
}
.product-tagline {
  color: #000;
  font-size: 18px;
}
.hello {
  font-size: 14px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 270px;
}
.nemelt {
  display: none;
}
.bg4 {
  margin-top: 12px;
  background-image: url(./bg4.png);
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
}
.airpod {
  color: #f5f5f7;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.airpod-text {
  color: #f5f5f7;
  font-size: 18px;
  width: 241px;
  height: 53px;
  margin: 8px;
}
.others3 {
  margin-top: 220px;
}

@media (min-width: 768px) {
}

.bg5 {
  margin-top: 12px;
  background-image: url(./bg5.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.p5-garchig {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  gap: 4px;
}
.watch {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.series {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 4px;
}
.classic {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px;
}
.bg6 {
  margin-top: 12px;
  background-image: url(./bg6.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.mac {
  color: #1d1d1f;
  font-size: 30px;
  font-weight: 700;
  margin-top: 42px;
}
.mac-sen {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px;
}
.bg7 {
  margin-top: 12px;
  background-image: url(./bg7.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.bussiness {
  color: #1d1d1f;
  font-size: 30px;
  font-weight: 700;
  width: 257px;
  height: 72px;
  margin-top: 47px;
}
.buss-sen {
  color: #1d1d1f;
  font-size: 18px;
  width: 257px;
  height: 40px;
  margin-top: 4px;
}
.bg8 {
  margin-top: 12px;
  background-image: url(./bg8.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.deals {
  color: #1d1d1f;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  width: 314px;
  height: 36px;
  margin-top: 301px;
}
.deals-sen {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  width: 314px;
  height: 60px;
}
.button-deal {
  width: 126x;
  height: 36px;
  border-radius: 999px;
  background: #0071e3;
}
.deal-text {
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
}
.bg9 {
  margin-top: 12px;
  background-image: url(./bg9.png);
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.trade {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.p9-garchig {
  display: flex;
  margin-top: 46px;
  gap: 4px;
  margin-top: 60px;
}
.trade {
  width: 121px;
  height: 34px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.get {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  width: 285px;
  height: 40px;
  margin-top: 4px;
}
.button-trade {
  width: 150x;
  height: 36px;
  border-radius: 999px;
  background: #0071e3;
  margin-top: 16px;
}
.trade-text {
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
}
.scroll {
  margin-top: 12px;
  width: 100%;
  height: 495px;
  height: 500px;
  display: flex;
  overflow: scroll;
  gap: 16px;
}
.tab-scroll {
  display: none;
}
.dots {
  margin: 14px;
  display: flex;
  justify-self: center;
}
.footer {
  width: 100%;
  height: 134px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  gap: 6px;
}
.sec {
  display: flex;
  min-width: 238px;
  gap: 10px;
}
.logosize {
  width: 238px;
  height: 134pxx;
  display: flex;
  gap: 10px;
}

/* .music {
  width: 41px;
  height: 9.67px;
  margin-top: 100px;
} */
.bck2 {
  background-color: #ba62fc;
  width: 238px;
  height: 134px;
}
.bck3 {
  background-color: #55a5d4;
  width: 238px;
  height: 134px;
}
.bck4 {
  background-color: #ba62fc;
  width: 238px;
  height: 134px;
}
.bck5 {
  background-color: #ba62fc;
  width: 238px;
  height: 134px;
}
.end {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.p-button {
  width: 24px;
  height: 24px;
  position: relative;
  right: 0;
}
.end2 {
  width: 100%;
  height: 216px;
}
/* tablet begin */
@media (min-width: 768px) {
  .bg1 {
    background-image: url(./bg1-2.png);
    height: 650px;
  }
  .bg2 {
    background-image: url(./bg2-2.png);
    height: 650px;
  }
  .bg3 {
    background-image: url(./bg3-2.png);
    height: 650px;
  }
  .bg4-5-combo {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .bg4 {
    width: 50%;
  }
  .bg5 {
    width: 50%;
  }
  .bg6-7-combo {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .bg6 {
    width: 50%;
  }
  .bg7 {
    width: 50%;
  }
  .bg8-9-combo {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .bg8 {
    width: 50%;
  }
  .bg9 {
    width: 50%;
  }
  .tab-scroll {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .scroll-combo {
    margin-top: 12px;
    width: 100%px;
    height: 368px;
    display: flex;
    overflow: scroll;
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .nav {
    display: none;
  }
  .nav2 {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(245, 245, 247, 0.8);
  }
  .desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
  }
  .bg1 {
    background-image: url(./desktop1.png);
    height: 692px;
  }
  .bg2 {
    background-image: url(./desktop2.png);
    height: 692px;
  }
  .nemelt {
    margin-top: 12px;
    background-image: url(./desktop3.png);
    background: cover;
    background-position: center;
    height: 692px;
    display: flex;
    flex-direction: column;
  }
  .gift {
    color: #000;
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    margin-top: 450px;
  }
  .bg4 {
    display: none;
  }
}
